/* 01_nav.css */
/* 아래에 코드를 작성해 주세요. */
body{
    margin:0;
    
}

nav {    
    height: 80px;
    position: relative;    
    background-color: black;
    width: 100%;
}


.nav-items {    
    float: right;    
    margin: 26px;
    
}

.nav-item {        
    padding: 26px;    
    list-style: none;
    display: inline;    
    color: white;
}

a{
    text-decoration: none;
}

.nav-item:hover{
    color: yellow;
}
