/* 02_footer.css */
/* 아래에 코드를 작성해 주세요. */

.footer{
    line-height: 60px;
    height: 60px;
    position: relative;
    bottom: 0;
    background-color: gray;
    color: white;   
    width: 100%;  
    text-align: center;  
}