/* 03_home.css */
/* 아래에 코드를 작성해 주세요. */
.cover{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/header.jpg);
    text-align: center;
    margin: 0;
}

.covertitle{
    color: white;
    
            
}

.button {
    width: 120px;
    height: 50px;  
    font-size: 15px;     
    color: white;
    line-height: 40px;
    text-align: center;
    background: blue; 
    border-color: blue;   
    outline: none;
    border-radius: 12px;
    
  }


.li-items{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    
}  

.li-item{   
    padding-right: 50px;    
    list-style: none;
    display: inline;
    text-align: center;
}

.li-title{
    
    text-align: center;
    
}

