/* 04_community.css */
/* 아래에 코드를 작성해 주세요. */

.main{    
    position: relative;
    width: 720px;
    height: 100%;
    margin-left: 400px;
    margin-right: 400px;
    
}

.board-title{        
    align-items: center;
    text-align: center;
    margin-bottom: 85px;
}

.board-line{
    border: 0;  
    width: 100px;  
    height: 5px;
    background: orange;
}

.id-time{    
    text-align: right;    
}

.board-line2{
    border: 0;  
    width: 720px;  
    height: 1px;
    background: rgb(194, 192, 192);    
}

.board-last-line{
    border: 0;  
    width: 720px;  
    height: 1px;
    background: rgb(194, 192, 192);    
    margin-bottom: 200px;
}

.time-color{
    color: rgb(194, 192, 192);
}